<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>
  <p>
    Super rentals project website is a delightful project creation to learn more about ember.
    By building a property rental site, we can do both, travelling and building ember apps. 
  </p>
  {{#link-to 'contact' class="button"}}
  Contact-Us
  {{/link-to}}

</div>

{{!-- {{outlet}} --}}
