<div class="jumbo">
  

  <h2>Contact Us :</h2>
  <p>Super Rentals representatives would love to help you.</p>
  <p>Super Rentals HQ 
    <address>
      #4, SouthEnd Road, Basavanagudi, <br>
      Bangalore - 1.
    </address>
  <a href="tel:9886110696">+91-9886110696</a> 
  <a href="mailto:somkar@gmail.com">somkar@gmail.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}

</div>

{{!-- {{outlet}} --}}
